@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme */
:root {
  --primary: #3490dc;
  --secondary: #ffed4a;
  --background: #ffffff;
  --text: #333333;
}

/* Dark Theme */
.dark {
  --secondary: #ffdd57;
  --background: #1b1b1b;
  --grey-backgriund: #1f1f1f;
  --grey-text: #9c9c9c;
  --text: #e4e4e4;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Apply a blur effect and disable scroll when sidebar is active */
body.sidebar-active {
  overflow: hidden;
  /* Disables scrolling on the body */
}

body.sidebar-active .vehicle_dashboard_container {
  filter: blur(8px);
  /* Applies blur to the background content */
  pointer-events: none;
  /* Prevents interactions with the background content */
}

/* Ensure the sidebar is not blurred */
body.sidebar-active .sidebar_container {
  filter: none;
  /* Prevent sidebar from being blurred */
  pointer-events: auto;
  /* Ensure sidebar remains interactive */
}

/* Optionally: Make sure sidebar remains visible and above content */
.sidebar_container .tabs_content_container {
  z-index: 1000;
  filter: unset;
}
.filter-page {
  width: 30rem;
  height: 62vh;
  border: 1px solid black;
  padding: 1rem;
}
.filter-content {
  height: 50vh;
}
.filter-title-row {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-btn-sec {
  padding: 0rem;
  display: flex;
  height: 5vh;
  width: 30rem;
  justify-content: end;
  align-items: center;
  gap: 20px;
  background-color: #333333;
}
.cursor-pointer {
  cursor: pointer;
}
.filter-title-sec {
  display: flex;
  gap: 10px;
}
.alerts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.alert-title-sec {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.alert-content {
  display: flex;
  justify-content: space-between;
}
.drop-down {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.25rem;
  background-color: #9c9c9c;
}
.drop-down select {
  background-color: #9c9c9c;
}
.date-sec {
  display: flex;
  justify-content: space-between;
}
.datepicker-sec {
  border: 1px solid black;
  background-color: #9c9c9c;
  padding: 0.25rem;
  border-radius: 5px;
}
.date-range-sec {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.gap-10px {
  gap: 10px;
}
.hori-line {
  padding: 0.75rem 0rem;
}
.hori-line-bottom {
  padding-bottom: 1rem;
}
.apply-btn {
  padding: 0.5rem;
  background-color: white;
  margin-right: 1rem;
  border-radius: 5px;
  color: black;
}
.clr-btn {
  padding: 0.5rem;
  background-color: rgb(90, 89, 89);
  color: white;
  border-radius: 5px;
}
